<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmuhamadamirzaidi.qwisapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.StudentPostActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Lecturer.LecturerUpdatePostActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Lecturer.LecturerCreatePostActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Lecturer.LecturerCreateStudentActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminCreateStudentActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminCreateLecturerActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentCategoryActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentInstructionActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentOnlineInstructionActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentStatisticsActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentPostQuizActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentQuizActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentHomeActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Lecturer.LecturerHomeActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".ScoreDetailActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminHomeActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentDoneGameActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentPlayingGameActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".Student.StudentStartGameActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".IntroductionsActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".SignInActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity" android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name=".SplashActivity" android:configChanges="orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.InsertRecordsService" />

        <provider
            android:name=".Data.QuizProvider"
            android:authorities="com.mmuhamadamirzaidi.qwisapp.Data"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>