<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmuhamadamirzaidi.qwisapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.StudentPostQuizActivity"></activity>
        <activity android:name=".Student.StudentQuizActivity" />
        <activity android:name=".Student.StudentHomeActivity" />
        <activity android:name=".LecturerHomeActivity" />
        <activity android:name=".ScoreDetailActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".DoneGameActivity" />
        <activity android:name=".PlayingGameActivity" />
        <activity android:name=".StartGameActivity" />
        <activity android:name=".IntroductionsActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>